<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <customerage>
            <general>
                <enable>1</enable>
                <age>18</age>
            </general>
        </customerage>
    </default>
</config>
